<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="MinGW-w64 Built By CovScript.ORG" Language="1033" Version="10.0.0.3" Manufacturer="Covariant Script Organization" UpgradeCode="0249a4bd-27db-46bd-9063-25bd5f6a67b6">
        <Package Id="*" Keywords="MinGW-w64" Description="MinGW-w64" Platform="x64" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade
            AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed."
        />

        <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

        <Feature Id="MinGW_w64" Title="MinGW-w64 Built By CovScript.ORG" Level="1">
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentGroupRef Id="Package" />
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_FeatureTree" />
        <WixVariable Id="WixUILicenseRtf" Value="SourceDir\License.rtf" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="MinGW-w64 Built By CovScript.ORG" />
            </Directory>
        </Directory>
    </Product>

    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="ApplicationShortcut" Guid="{1BDEED99-E5C9-41B5-AC6B-CB01BD2E14C9}">
                <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]mingw64\bin" Permanent="no" Part="last" Action="set" System="yes" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>